.content{
    background-color: #141A1F;
    padding-left: 150px;
}

.content-title{
    font-size: 30pt;
    color:#ffffff;
    margin-top: 0;
    padding-top: 100px;
    
}
.text{
    line-height:140%;
    font-size: 15pt;
    color:#ffffff;
    margin-bottom: 70px;
}
.content-picture{
    display: inline-block;
    columns: 2 auto;
}
.content-image{
    height: 365px;
    width: 540px;
}
.text-image{
    padding-left: 30px;
    position: relative;
    bottom: 350px;
    font-size: 15pt;
    color:#ffffff;
}
.indent{
    padding-left: 25px;
    position: relative;
    bottom: 50px;
}

@media (max-width:1400px) {
    .content{
        background-color: #141A1F;
        padding-left: 10px;
    }
    .content-picture{
        columns: 2;
    }
    .indent{
        position: static;
        padding-left: 0px;
        
    }
    .content-image{
        height: 250px;
        width: 380px;
    }
    .text-image{
        position: relative;
        bottom: 240px;
        font-size: 10pt;
    }
    .content-title{
        font-size: 25pt;

    }
    .text{
        line-height:140%;
        font-size: 13pt;
        color:#ffffff;
        margin-bottom: 70px;
    }
}
@media (max-width:800px) {
    .content{
        background-color: #141A1F;
        padding-left: 10px;
    }
    .content-picture{
        columns: 1;
    }
    .indent{
        position: static;
        padding-left: 0px;
        
    }
    .content-image{
        height: 250px;
        width: 380px;
    }
    .text-image{
        position: relative;
        bottom: 240px;
        font-size: 10pt;
    }
    .content-title{
        font-size: 20pt;

    }
    .text{
        line-height:140%;
        font-size: 10pt;
        color:#ffffff;
        margin-bottom: 70px;
    }
}